<%= form_with(model: welcome, local: true) do |form| %>
  <% if welcome.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(welcome.errors.count, "error") %> prohibited this welcome from being saved:</h2>

      <ul>
      <% welcome.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% @users = User.all.collect %>
<% @members = [] %>

<!-- Sends out evaluations to all members of a selected group --> 
<% for i in 0...Group.find(params[:group_id]).membership_ids.length %>
	<% @users.each do |user| %>
		<% if user.membership_ids.include? Group.find(params[:group_id]).membership_ids[i] %>
			<% @members.push user %>
		<% end %>
	<% end %>
<% end %>

<% for i in 0...@members.length %>
	<% for j in 0...@members.length %>
		<% if i != j %>
			<% @eval1 = Evaluation.new(:group_id => Group.find(params[:group_id]).id, :ratee_id => @members[i].id, :ratee_id => @members[j].id, :attempt => false) %>
			<% @eval1.save %>
		<% end %>
	<% end %>
<% end %>

<%= link_to 'Back', groups_path, :class => "btn btn-default" %>
<% end %>
