<h1>Evaluations sent!</h1>

<% @users = User.all.collect %>
<% @members = [] %>

<!-- Sends out evaluations to all members of a selected group --> 
<% for i in 0...Group.find(params[:group_id]).membership_ids.length %>
	<% @users.each do |user| %>
		<% if user.membership_ids.include? Group.find(params[:group_id]).membership_ids[i] %>
			<% @members.push user %>
		<% end %>
	<% end %>
<% end %>

<% for i in 0...@members.length %>
	<% for j in 0...@members.length %>
		<% if i != j %>
			<% @eval = Evaluation.new(:group_id => Group.find(params[:group_id]).id, :rater_id => @members[i].id, :ratee_id => @members[j].id, :attempt => false) %>
			<% @eval.save %>
		<% end %>
	<% end %>
<% end %>

<%= link_to 'Back', groups_path, :class => "btn btn-default" %>
