<div style="margin:100px 20px; background-color:lightgray;">
<h1>(For team members):</h1><br>
<% if !user_signed_in? %>
      <h1>Peer Evaluations</h1>
      <h1>There is an admin user created. Use admin@osu.edu with password as the password</h1>
      <ul>
	      <li><%= link_to "Register Now", new_user_registration_path, :class => "btn btn-default text-center" %><li>
        <li>This is the index page which will provide you with instructions and how to use our website</li>
        <li>For team members: In order to get more information, please go to app/views/welcomes/index.html.erb</li>
        <li>Use the navigation bar above to get to the sign up and log in pages</li>
      </ul>

<% end %>


<% if user_signed_in? and current_user.try(:admin?) %>
	<h1>Welcome to the Peer Evaluation website by infinite_loop</h1>
	<h2>You are signed in as an instructor</h2>
	<h2>To get started, click here: <a href="/courses">Classes</a></h2>
	<h2>Other important links:</h2>
	<h3><a href="/welcomes">Home Page</a></h2>
	<h3><a href="/courses">Course Page</a></h2>
	<h3><a href="/groups">Groups Page</a></h2>
	<h3><a href="/ratings">Ratings Page</a></h2>
<% end %>


<% if user_signed_in? and !current_user.try(:admin?) %>
	<h1>Welcome to the Peer Evaluation website by infinite_loop</h1>
	<h2>You are signed in as a student. To be an admin, go to terminal. Type in $ rails c. Change the admin boolean attribute to true</h2>
	<h2>To get started, click here: <a href="/groups">Groups</a></h2>
	<h2>Other important links:</h2>
	<h3><a href="/welcomes">Home Page</a></h2>
	<h3><a href="/courses">Course Page</a></h2>
	<h3><a href="/groups">Groups Page</a></h2>
	<h3><a href="/ratings">Ratings Page</a></h2>
<% end %>
</div>




<table class="landing-page">
  <tr>
    <td class="text">
      <h1>Give credit where credit's due</h1>
      <h3>RateMyPeers is an online academic tool that helps students provide feedback for their teammates during group projects. Instructors set up the groups and can see the ratings to help them quickly notice and address any issues in the class.<h3>
    </td>
    <td class="media"> <%=  image_tag("info-12.png") %> </td>
  </tr>
</table>
<table class="landing-page">
  <tr>
    <td class="media">
      <%= video_tag("demo.webm",autoplay:true,loop:true,controls:true) %>
    </td>
    <td class="text">
      <h1>How it works</h1>
      <h3>Our intuitive design makes it easy to get the grade you deserve in no time at all. Take a look at the video to the left or the list below to get an idea of the workflow.</h3>
      <ul>
        <li>Instructor creates the class</li>
        <li>Instructor creates groups and adds students to the groups</li>
        <li>After each project, the students rate their teammates</li>
        <li>Each student's overall score updates automatically based on team ratings</li>
      </ul>
    </td>
  </tr>
</table>
<table class="landing-page">
  <tr>
    <td class="split">
      <h1>Great for Students</h1>
      <h3>Make sure that good teammates get rewarded, and bad ones don't get a grade they didnt earn. You'll have an overall rating that sticks with you forever, and you can see other students' ratings when choosing a group.</h3>
    </td>
    <td class="split">
          <h1>Great for Instructors</h1>
          <h3>Keep your class running smoothly and be confident that your students are getting the credit they earned. We help you discover problems as soon as they surface, so you can resolve them and focus on teaching.</h3>
        </td>
  </tr>
</table>
<a href="#" class="get-started-button">Get Started Now!</a><br><br><br><br><br>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script>
$(document).ready(function(){
	$(".content>*").unwrap()
});
</script>
