      <!-- <h1>Peer Evaluation Website</h1>
      <ul>
        <li>This is the index page which will provide you with instructions and how to use our website</li>
        <li>For team members: In order to get more information, please go to app/views/welcomes/index.html.erb</li>
        <li>Use the navigation bar above to get to the sign up and log in pages</li>
        <li>Easy access to the index of peer evaluaton: <a href="/word_responses">Peer evaluation</a></li>
      </ul> -->



      <h1>Welcome students</h1>
      <h1>In this website, only 1 students in the groups need to set up their group account </h1>

      <li>Easy access to the to select your groups: <a href="/groups">select groups</a>THis should be dropdown and click button </li>
      <li>Easy access to the index of groups: <a href="/groups#new">Add groups</a></li>




      <h1>Welcome teachers</h1>
      <h1>In this website,you will add the clas for students and you will able to see all the data needed  </h1>
      <li>Easy access to the index of courses: <a href="/courses">Add class</a></li>