<%= link_to 'Students sign up here!', student_signup_path ,class: "btn btn-info"%>
<%= link_to 'Instructors sign up here!', instructor_signup_path ,class: "btn btn-info"%>
      <h1>Peer Evaluation Website</h1>

      <ul>
        <li>This is the index page which will provide you with instructions and how to use our website</li>
        <li>For team members: In order to get more information, please go to app/views/welcomes/index.html.erb</li>
        <li>Use the navigation bar above to get to the sign up and log in pages</li>
        <li>Easy access to the index of peer evaluaton: <a href="/ratings">Peer evaluation</a></li>
      </ul>

