<div class="signup">
    <h1>Getting Started</h1>
    <h3>Are you a <%= link_to "Student", "user_new_user_registration_path"  %> or an <%= link_to "Instructor",instructor_signup_path %>?<br><br>(Select one) </h3>
</div>
