<h1>Students</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @memberships.each do |membership| %>
        <% if Group.find(params[:group_id]).id == membership.group_id %>
      	   <tr>
              <td><%= User.find(membership.user_id).email %></td>
              <td><%= link_to 'Remove Member', membership, method: :delete, data: { confirm: 'Are you sure?' }, :class=> "btn btn-danger" %><br></td>
           </tr>
        <% end %>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back to Groups', groups_path, :class => "btn btn-default" %><br>
<%= link_to 'Back to Classes', courses_path, :class => "btn btn-default" %>
